{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      },
      "test": {
        "presets": ["env", "stage-2"],
        "plugins": ["istanbul"]
      }
    }],
    "stage-2"
  ],
  "plugins": []
}
